{% load static %}
<!DOCTYPE html>
<html lang = "ja-jp">
<head>
    <title>diary</title>
    <style>
    h1{font-size: 45px;
        text-align: center;
        color: black;}
        h2{font-size: 30px;
        text-align: center;
        color: black;}

        .box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
    margin: 0; 
    padding: 0;
}
h3{
    font-size: 30px;
}
h4{
    word-wrap: normal;
}

    </style>
    <link rel="stylesheet" href="httpd://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <h1>
    <a  href = "{% url 'index'  %}">掲示板</a></h1>
    
    <h2>タイトル:{{ thread.title }}</br> </h2>
    <br />
    <h3>タグ:{{ thread.tag }}</h3>
    <a href = "{% url 'res' thread.id %}" >レスポンス</a>
    <br />
    
    <div class="box11">
        <p>{% csrf_token %}
            {% for post in responses.all %}
            {{ post.num }}
            {{ post.name }}
            {{ post.date }}
          </br>
            <h4>{{ post.sentence | linebreaksbr }}</h4>
            <br />
            
            </p>{% endfor %}
    </div>
    
   

    <ul class="pagination">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
    
        <!-- 数字の部分 -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    
        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        
    </ul>
   
    
</body>
</html>